body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --dark-blue-background: hsl(207, 26%, 17%);
  --dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray-background: hsl(0, 0%, 98%);
  --light-gray-text: hsl(0, 0%, 100%);
  --other: #f1f1f1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid hsla(0, 0%, 89%, 0.51);
  background-color: white;
}

.actions {
  padding: 20px;
  background-color: var(--other);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.search,
.filter {
  background-color: white;
  padding: 14px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
}

.search {
  /* width: -webkit-fill-available; */
  min-width: 480px;
}

.filter {
  display: inline-block;
  /* margin-top: 7px; */
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}

.wrapper {
  background-color: var(--other);
  padding: 20px;
}

section.country {
  overflow: hidden;
  min-width: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 180px;
}

.bagde {
  border-radius: 5px;
  margin: 30px;
  background-color: white;
  overflow: hidden;
}

.badge-flag {
  display: block;
  width: -webkit-fill-available;
}

.badge-info {
  padding: 24px;
}

.badge-info-title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.strong {
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  min-height: 0; /* NEW */
  min-width: 0;
}

@media (max-width: 1056px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .actions {
    display: block;
  }
  .search {
    min-width: auto;
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }
}
